doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        title Mars Tan

        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap', rel='stylesheet')

        block styles
        block scripts
    body
        block body
        footer
          p Mars Tan. 2021
        block scripts_after
