doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        title Mars Inc.
        block styles
        block scripts
    body
        block body
        block scripts_after