extends _main

block styles
  link(rel='stylesheet' href='style/illust.css')

block body
  header
    .container
      .bar
        a(href='index.html')
          p.left
            span.bold Mars Tan
            span.light // Portfolio
        include _menu.pug

      .hero
        a.back-btn(href='index.html')
          span.left-arrow
          p.bold Back To Home
        h1 Motion Graphics 
        p.intro.light I started using Adobe After Effects to create 2D motion graphics since high school. I love to experiment unique timing with simple graphic. I’ve also tried to use Cinema 4D to create 2D animation. 
  
  .container
    .works
      h2.bold Selected Works
      .works-grid
        .work
        .work
        .work
        .work
