extends _main

block styles
  link(rel='stylesheet' href='style/illust.css')

block body
  header
    .container
      include _bar.pug



  include _menu.pug
  
  .container
    .works
      h2.bold Selected Works
      .works-grid
        .work
        .work
        .work
        .work
