extends _main

block styles
  link(rel='stylesheet' href='style/illust.css')

block body
  header
    .container
      include _bar.pug

      .hero
        a.back-btn(href='index.html')
          span.left-arrow
          p.bold Back To Home
        h1 Illustration 
        p.intro.light I started learning digital illustration using wacom in July 2020. My works and practice are mostly the anime-style character design with scenes. I use Clip Studio Paint and Adobe Photoshop mainly and also Procreate.
  
  .container
    .works
      h2.bold Selected Works
      .works-grid
        .work
        .work
        .work
        .work
