extends _main

block styles
  link(rel='stylesheet' href='style/index.css')

block body
  header
    .container
      include _bar.pug
      .hero-index
        h1 
          | Hi! I am 
          span.bold Mars Tan
          | .
        h1 I do illustration, motion graphics, and programming.


  include _menu.pug
  
  
  .container
    .works
      h2.bold Selected Works
      .works-grid
        .work
        .work
        .work
        .work
