@import "reset";
@import "responsive";

$b0: #1a1a1a;
$b1: #555;
$b2: #999;

$w2: #c6c6c6;
$w1: #f1f1f1;
$w0: #f5f5f5;

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fdfdfd;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.container {
  padding: 12px;
  margin: 0 auto;
}

h1,
h2 {
  color: $b0;
}

p {
  font-size: 18px;
  color: $b0;
}

header {
  padding-top: 24px;

  .bar {
    user-select: none;
    display: flex;
    justify-content: space-between;

    > a {
      color: $b0;
      text-decoration: none;
    }

    p.left {
      font-size: 24px;

      span {
        margin-right: 8px;
      }
    }

    p.right {
      font-size: 18px;

      span {
        margin-left: 8px;
      }
    }
  }

  .hero {
    margin-top: 128px;

    a.back-btn {
      .left-arrow {
        border: solid $b2;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(135deg);
        margin-bottom: 1px;
      }

      p {
        margin-left: 5px;
        display: inline-block;
        color: $b2;
        text-transform: uppercase;
      }

      &:hover {
        .left-arrow {
          border: solid $w2;
          border-width: 0 3px 3px 0;
        }
        p {
          color: $w2;
        }
      }
    }

    h1 {
      margin-top: 18px;
      font-size: 36px;
    }

    p.intro {
      margin-top: 48px;
      line-height: 1.5;
    }
  }
}

.menu {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(4, 130px);
  justify-content: center;

  a {
    padding-top: 5px;
    text-align: center;
    font-size: 18px;
    width: 100%;
    color: $b1;

    &:hover {
      color: $b2;
    }
  }
}

.works {
  margin-top: 160px;

  h2 {
    font-size: 14px;
    letter-spacing: 0.23em;
    text-transform: uppercase;
  }

  .works-grid {
    margin-top: 20px;
    display: grid;

    .work {
      background-color: #eee;
      width: 100%;
      height: 100%;
    }
  }
}

footer {
  user-select: none;
  text-align: center;
  margin: 130px 0;

  p {
    font-size: 12px;
    color: $w2;
  }
}
