@import "main";

header {
  background-color: $w0;

  .hero-index {
    margin-top: 200px;
    padding-bottom: 80px;

    h1 {
      font-size: 36px;
      margin-bottom: 8px;
    }
  }
}

.menu {
  grid-template-columns: repeat(4, 160px);
  margin-top: 40px;
}

.works {
  margin-top: 100px;
}
